.logos {
    padding: 4.375rem 0;
    width: 100%;
    flex-wrap: wrap;
}

.logos .w-20 img {
    opacity: .6;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
    .logos .w-20 {
        flex-direction: column;
        width: 30%;
    }

    .logos .w-20>* {
        flex: 0 0 33.3333%;
    }

    .logos .w-20 img {
        width: 9rem;
    }
}

@media screen and (max-width: 800px) {
    .logos .w-20 {
        width: 50%;
    }

    .logos .w-20 img {
        width: 12rem;
    }
}

@media screen and (max-width: 800px) {
    .logos .w-20 {
        width: 100%;
    }
}