.process.title-box .video{
    width: 100%;
    height: 35.625rem;
    background-color: var(--light-gray);
}

.process.title-box p {
    margin: 0 auto;
    margin-bottom: 3.75rem;
}

.process.title-box .video .play {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--blue);
    color: white;
    font-size: var(--size30);
    border: 2px solid var(--blue);
}

.process.title-box .video .play:hover {
    background-color: var(--light-gray);
    color: var(--blue);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}