:root {
    --blue: #10c9c3;
    --black:#000;
    --white: #fff;
    --light-white: #e9e9e9;
    --black19: #191919;
    --black1d: #1d1d1d;
    --black17:#171717;
    --black25: #252525;
    --blck14: #141414;
    --gray1: #787878;
    --gray2: #838383;
    --gray3: #dddddd;
    --gray4: #d8d8d8;
    --light-gray: #e9e9e9;

    
    --size38: 2.375rem;
    --size30: 1.875rem;
    --size24: 1.5rem;
    --size18: 1.125rem;
    --size16: 1rem;
    --size15: .938rem;
    --size12: .75rem;
}

